* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ecb390;
}

.App {
  background-color: #f5eedc;
  min-height: 300px;
  min-width: 400px;
  max-width: 600px;
  margin: 20px 0;
  border-radius: 5px 5px;
}

.Header {
  background-color: #dd4a48;
  border-radius: 5px 5px 0 0;
  padding: 1em;
}

.Header h2 {
  font-family: "Satisfy", cursive;
  font-size: 1.5em;
}

.Todo {
  width: 100%;
  padding-top: 10px;
}

.Form {
  margin-bottom: 20px;
}

.Form input {
  padding: 8px;
  width: 70%;
  border-radius: 4px;
  border: 1px solid blueviolet;
  margin-right: 2em;
  margin-left: 1em;
}

.Form button {
  padding: 8px;
  width: 4em;
  background-color: #c0d8c0;
  border: none;
  border-radius: 15px;
}

.ListTodos h2 {
  width: 27%;
  margin: 0 auto;
  font-family: "Lobster", cursive;
}
.Child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7em;
  transition: linear;
}

.Child button {
  padding: 8px;
  width: 4em;
  background-color: #c0d8c0;
  border: none;
  border-radius: 15px;
  margin-right: 0.6em;
}
.Child h3 {
  margin-left: 1em;
  font-family: "Satisfy", cursive;
  font-size: 1.5em;
}

.Child:hover {
  background-color: violet;
  transition: background-color 1s ease-out;
}

.DeleteAll {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  padding-right: 2em;
}

.DeleteAll button {
  padding: 8px;
  width: 10em;
  background-color: #c0d8c0;
  border: none;
  border-radius: 15px;
}
